<%- include('../partials/head.ejs') %>
   </head>

   <body>
      <%- include('../partials/navbar.ejs') %>
         <main class="bd-docs-main">
            <section class="hero bd-hero bd-is-basic has-background-primary my-5">
               <div class="hero-body">
                  <div class="container">
                     <div class="bd-hero-body">
                        <div class="bd-hero-heading">
                           <h1 class="title algolia-lvl0">
                              <p>Edit Player</p>
                           </h1>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <div class="container">
               <div class="columns">
                  <div class="column"></div>
                  <div class="column is-8 box">
                     <form action="/players/edit-player/<%= player.id %>" method="POST">
                        <div class="cloumns is-flex">
                           <div class="column is-one-third">
                              <figure class="image is-4by5">
                                 <img src="<%= player.imageUrl  %>">
                           </div>
                           <div class="column">
                              <!-- <div class="panel-block feild">
                              <h5 class="title is-5">Name: </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">Club: </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">Nation: </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">Position: </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">Goals: </h5>
                           </div>
                           <div class="panel-block"></div>
                        </div>
                        <div class="column">
                           <div class="panel-block">
                              <input type="text" id="name" name="name" class="input" placeholder="Name" required>
                              <% if (player.isCaptain) { %>
                                 <span class="icon">
                                    <i class="fa-solid fa-crown has-text-warning	"></i>
                                 </span>
                                 <% }%>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">
                                 <%= player.club %>
                              </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">
                                 <%= player.nation %>
                              </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">
                                 <%= player.position%>
                              </h5>
                           </div>
                           <div class="panel-block">
                              <h5 class="title is-5">
                                 <%= player.goals%>
                              </h5>
                           </div>
                           <div class="panel-block"></div> -->
                              <div class="cloumns is-flex">
                                 <div class="column">
                                    <div class="field">
                                       <label class="label">Name</label>
                                       <div class="control">
                                          <input type="text" id="name" name="name" class="input" placeholder="Name"
                                             required value="<%= player.name %>">
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="label">Club</label>
                                       <div class="select">
                                          <select id="club" name="club">
                                             <% clubs.map((club)=> { %>
                                                <option value="<%= club.name %>" <%=player.club==club.name ? 'selected'
                                                   : '' %>><%= club.name %>
                                                </option>
                                                <% }) %>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="label">Nation</label>
                                       <div class="select">
                                          <select id="nation" name="nation">
                                             <% nations.map((nation)=> { %>
                                                <option value="<%= nation.name %>" <%=player.nation==nation.name
                                                   ? 'selected' : '' %>>
                                                   <%= nation.name %>
                                                </option>
                                                <% }) %>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="label">Image URL</label>
                                       <div class="control">
                                          <input type="text" id="imageUrl" name="imageUrl" class="input"
                                             value="<%= player.imageUrl %>" required>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="column is-two-fifths">
                                    <div class="field">
                                       <div class="field-label is-normal is-4 column">
                                          <label class="label">Goals</label>
                                       </div>
                                       <div class="field-body">
                                          <div class="field">
                                             <p class="control">
                                                <input type="text" id="goals" name="goals" class="input"
                                                   placeholder="Goals" required value="<%= player.goals %>">
                                             </p>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="field">
                                       <div class="field-label is-normal is-4 column">
                                          <label class="label">Position </label>
                                       </div>
                                       <div class="field-body">
                                          <div class="field">
                                             <!-- <p class="control">
                                                <input type="text" id="position" name="position" class="input"
                                                   placeholder="position" required value="<%= player.position %>">
                                             </p> -->
                                             <div class="select">
                                                <select id="position" name="position">
                                                   <% positions.map((position)=> { %>
                                                      <option value="<%= position.name %>"
                                                         <%=player.position==position.name ? 'selected' : '' %>><%=
                                                            position.name %>
                                                      </option>
                                                      <% }) %>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="field is-horizontal">
                                       <div class="field-label column is-8">
                                          <label class="label">Still a captain? </label>
                                       </div>
                                       <div class="field-body">
                                          <div class="field is-flex">
                                             <div class="control is-flex is-align-content-center">
                                                <label class="checkbox is-flex is-align-content-center">
                                                   <input type="checkbox" id="isCaptain" name="isCaptain" value="true"
                                                      <% if (player.isCaptain) { %> checked <% }%>>
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="is-flex is-justify-content-end">
                           <button class="button is-primary">Update</button>
                        </div>
                     </form>
                  </div>
                  <div class="column"></div>
               </div>
            </div>
         </main>
   </body>

   </html>